/* Add CSS Styling */
.odd {
    background-color: #ee9aa4;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#benedict {
    background-color: #6191e3;
    font-size: 36px;
}

.colin {
    font-size: 24px;
}

#daphne {
    background-color: #9ce0c1;
    font-size: 24px;
    font-weight: bold;
}