/* Add CSS Styling 
yellow background, red text, a font size of 20px, and center aligned.*/

.container .text {
    background-color: rgb(255, 255, 161);
    color: rgb(249, 93, 93);
    font-size: 20px;
    text-align: center;
}